* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --default-border: .2rem solid rgba(0, 0, 0, 0.15);
  --default-border-radius: 0.8rem;
}

header {
  color: #0583F2;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

body {
  color: #04B2D9;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}

main {
  grid-area: form;
}

.content {
  background-color: #011526;
  display: grid;
  grid-template-areas: 
  ". form form ."
  ". form form ."
  ". . . ."
  ". . . ."
  ;

}

main {
  background-color: #012840;
  text-align: right;
  /* margin-top: 2rem; */
  margin-left: auto;
  margin-right: auto;
  width: 35rem;
  height: 90rem;
  border: var(--default-border);
  padding: 2rem 5.7rem;
  border-radius: var(--default-border-radius);
  position: relative;
}

main .actions a {
  height: 5.5rem;
  font-size: 2.4rem;
  background-color: #04B2D9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  text-decoration: none;
}

.actions a:hover {
  background-color: #BC04BF;
}

main form label {
  margin-top: 1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  float: left;
  clear: both;
}

main form :is(input,select) {
  width: 8rem;
  height: 4rem;
  border: var(--default-border);
  border-radius: var(--default-border-radius);

}

.campos {
margin-bottom: 0.5rem;
margin-left: auto;
margin-right: auto;
width: 16rem;
align-items: center;
}

#tc, #maj, #cap, #ten, #st, #sgt, #cb, #sd {
  text-align: center;
}


#resultado {
color: #04B2D9;  
margin-top: 2rem;
text-align: center;
font-size: 5rem;
font-weight: 500;
}
